{{outlet}}
<h1 id="singlepost">{{model.title}}</h1>
<p class="post">By <b>{{model.author}}</b>
</p>
<p class="post">{{model.text}}<br>
    <img src="{{model.image}}" alt="" />
    {{edit-post  destroyPost="destroyPost" editPost="editPost" post=model}}

</p>
